if ARCH_ARMV7M

choice
	prompt "CPU family"

config ARCH_CHIP_FAMILY_STM32F4
	bool "STM32F4"

config ARCH_CHIP_FAMILY_STM32L4
	bool "STM32L4"

endchoice

config ARCH_CHIP_FAMILY
	string
	default "stm32f4" if ARCH_CHIP_FAMILY_STM32F4
	default "stm32l4" if ARCH_CHIP_FAMILY_STM32L4

source arch/armv7m/stm32f4/Kconfig
source arch/armv7m/stm32l4/Kconfig

endif
