if ARCH_ARMV7M

#specific config to tell apart ARMV7E-M (cortex M4) chips
#from ARMv7-M (Cortex M3) chips

config ARCH_ARMV7EM
	bool
	default n

choice
	prompt "CPU family"

config ARCH_CHIP_FAMILY_STM32F4
	bool "STM32F4"
	select ARCH_ARMV7EM

config ARCH_CHIP_FAMILY_STM32L4
	bool "STM32L4"
	select ARCH_ARMV7EM

endchoice

config ARCH_CHIP_FAMILY
	string
	default "stm32f4" if ARCH_CHIP_FAMILY_STM32F4
	default "stm32l4" if ARCH_CHIP_FAMILY_STM32L4

source arch/armv7m/stm32f4/Kconfig
source arch/armv7m/stm32l4/Kconfig

endif
