mainmenu "slos configuration"

config DEBUG
	bool "Enable debug messages"

menu "Arch options"
source arch/Kconfig
endmenu

menu "Board options"
source board/Kconfig

config BOARD_LDSCRIPT
	string "ld script for final linking"

endmenu
