if ARCH_CHIP_FAMILY_STM32F4

choice
	prompt "F4 model"

config ARCH_CHIP_STM32F411
	bool "STM32F411"

endchoice

menu "Peripheral enable"

comment "--- APB1 TODO ---"

comment "--- APB2 TODO ---"

comment "--- AHB1 TODO ---"

comment "--- AHB2 TODO ---"

endmenu

endif
